/*  your css code here. If applicable */
body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: white;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 500px;
            background-color: #d9d9d9;
            padding: 30px;
            border: 5px solid black;
            border-radius: 50px;
            text-align: center;
        }

        .red, .green, .yellow {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 15px;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .yellow {
            background-color: yellow;
        }
